/* Reset dasar untuk konsistensi */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #d38d00, #cd7d04);
  color: #e08f04;
  line-height: 1.6;
}

/* Styling header */
header {
  text-align: center;
  padding: 40px 20px;
  background-color: rgba(20, 19, 19, 0.9);
  box-shadow: 0 4px 8px rgba(213, 123, 6, 0.5);
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(214, 175, 3, 0.8);
}

header p {
  font-size: 1.2em;
  opacity: 0.9;
}

.header-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(213, 193, 5, 0.5);
}

/* Styling main content */
main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #ffb700;
  font-size: 2em;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(5, 5, 5, 0.8);
}

p,
ul,
li {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: rgba(18, 18, 17, 0.4);
}

/* Styling song list */
.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.song {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.song:hover {
  transform: scale(1.1);
  background-color: rgba(247, 255, 1, 0.5);
}

/*Styling Album*/
.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.album {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
/* Styling footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(12, 11, 11, 0.9);
  color: rgb(218, 141, 9);
  position: relative;
  margin-top: 40px;
}

/* Responsif untuk mobile */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.5em;
  }
  .song-list {
    flex-direction: column;
  }

  .header-img {
    max-width: 100px;
  }
}
